<h1>Application Index</h1>
<% if user_signed_in? %>
	<h2>user sign in</h2>
	<%= link_to 'Edit', edit_user_registration_path %>
	<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
	<h2>user not sign in</h2>
	<%= link_to 'Sign In', new_user_session_path %>
<% end %>
